resource/Invoice.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--

  Copyright (c) 2013 Ericsson

  All rights reserved.

  File:    Invoice.xsd

  Owner:   Matthias Fehrenbacher

  @(#) ABSTRACT : XML validation
  @(#) BSCS iX R4, Bill Formatting Server

  This schema validates invoice pages.
  VERSION = @(#) ./lhsj_main/bscs/batch/src/bgh/LAYOUT/Invoice.xsd, , CBIO_PCP1503, CBIO_PCP1503_150728 @@CBIO_PCP1503_150728 28-Jul-2015

-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <xs:element name="Invoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="DebitNote"/>
        <xs:element maxOccurs="4" ref="Date"/>
        <xs:element minOccurs="0" ref="PaymentTerm"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="CashDiscount"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="InvoiceItem"/>
        <xs:element ref="InvoiceTotals"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Tax"/>
        <xs:element minOccurs="0" ref="DiscountTotals"/>
      </xs:sequence>
      <xs:attributeGroup ref="attlist.Invoice"/>
    </xs:complexType>
  </xs:element>
  <!--
    Dates are
        - invoicing date            (Type=INV)
        - charge period start date  (Type=START)
        - charge period end date    (Type=END)
        - invoice due date          (Type=DUE_DATE)
  -->
  <xs:attributeGroup name="attlist.Invoice">
    <xs:attribute name="BillingMode" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="REG"/>
          <xs:enumeration value="SIM"/>
          <xs:enumeration value="INF"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="InvType" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="INV"/>
          <xs:enumeration value="REC"/>
          <xs:enumeration value="PCM"/>
          <xs:enumeration value="DN"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:element name="DebitNote">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="DocRef"/>
      </xs:sequence>
      <xs:attributeGroup ref="attlist.DebitNote"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.DebitNote">
    <xs:attribute name="ExtSystemId" use="required" type="xs:string"/>
    <xs:attribute name="Purpose" use="required" type="xs:string"/>
  </xs:attributeGroup>
  <xs:element name="DocRef">
    <xs:complexType>
      <xs:attributeGroup ref="attlist.DocRef"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.DocRef">
    <xs:attribute name="RefNum" use="required" type="xs:string"/>
  </xs:attributeGroup>
  <xs:element name="InvoiceItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="AggSet"/>
        <!-- GL should be required (minOccurs="1") when appropriate license is on. -->
        <xs:element minOccurs="0" maxOccurs="3" ref="GL"/>
        <xs:element minOccurs="0" ref="SrvStatus"/>
        <xs:element minOccurs="0" ref="SrvParams"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Charge"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Txt"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Price"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Tax"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="PromoItem"/>
        <xs:element minOccurs="0" ref="Date"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Contr"/>
      </xs:sequence>
      <xs:attributeGroup ref="attlist.InvoiceItem"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Contr">
    <xs:complexType>
      <xs:attributeGroup ref="attlist.Contr"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.Contr">
    <xs:attribute name="Id" use="required" type="xs:string"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="attlist.InvoiceItem">
    <xs:attribute name="NumItem" use="required" type="xs:integer"/>
    <xs:attribute name="ArticleString" use="required" type="xs:string"/>
    <xs:attribute name="Quantity" type="xs:positiveInteger"/>
    <xs:attribute name="CT" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="A"/>
          <xs:enumeration value="O"/>
          <xs:enumeration value="P"/>
          <xs:enumeration value="S"/>
          <xs:enumeration value="U"/>
          <xs:enumeration value="T"/>
          <xs:enumeration value="B"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="CollInd" default="N">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="Y"/>
          <xs:enumeration value="N"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="PrepaidTransaction" default="N">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="Y"/>
          <xs:enumeration value="N"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Debit" default="Y">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="Y"/>
          <xs:enumeration value="N"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="BillSeqNo" use="required" type="xs:nonNegativeInteger"/>
    <xs:attribute name="Jurisdiction" type="xs:string"/>
    <xs:attribute name="CustomerCategory" type="xs:string"/>
  </xs:attributeGroup>
  <!--
    CollInd indicates, whether amount has been collected on behalf
    Charges are
     - original amount with VAT     (Id=98)
     - original amount without VAT  (Id=99)
     - without VAT                  (Id=125)
     - with VAT                     (Id=203)
    Txt contain bill format of fee and remark in case that charge is a fee
  -->
  <xs:element name="InvoiceTotals">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="Charge"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!--
    Charges are
    11      Sum of previous charges which are relevant for the billing period
    76      Old current balance (current balance at real start)
    77      Invoice
    78      New current balance
    79      Net Invoice
    178     To pay
    961     Previous balance amount
    969     Current balance at virtual start date
    977     Total debit net invoice
    978     Total credit net invoice
    980     Rounding differences
  -->
  <xs:element name="Tax">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Charge"/>
      </xs:sequence>
      <xs:attributeGroup ref="attlist.Tax"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.Tax">
    <xs:attribute name="ItemType" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="1"/>
          <xs:enumeration value="3"/>
          <xs:enumeration value="7"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Cat" type="xs:string"/>
    <xs:attribute name="LegalCode" type="xs:string"/>
    <xs:attribute name="Rate" type="xs:double"/>
    <xs:attribute name="CalcMethod">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="A"/>
          <xs:enumeration value="R"/>
          <xs:enumeration value="M"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Retained">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="Y"/>
          <xs:enumeration value="N"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Exemption">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="S"/>
          <xs:enumeration value="E"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="TaxCodeValidFrom" type="xs:string"/>

  </xs:attributeGroup>
  <!--
    Tax type is always VAT
    
    ItemType values have the following meaning
    - 1     individual tax for one item
    - 3 total of each tax category
    - 7 tax
    
    CalcMethod values have the following meaning
    - A absolut tax amount
    - R relative tax amount
    - M mixed tax amount
    
    Exemption values have the following meaning
    - S default
    - E in case item is free of taxes
    
    Charges are (possibly also in secondary currency)
    - VAT for discount      (Id=124)
    - charge without VAT    (Id=125)
  -->
  <!-- cash discount -->
  <xs:element name="CashDiscount">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Charge"/>
        <xs:element ref="Date"/>
      </xs:sequence>
      <xs:attributeGroup ref="attlist.CashDiscount"/>
    </xs:complexType>
  </xs:element>
  <!--
    Date is discount date, i.e. the specified discount is granted,
    if the invoice is paid before this date (Type = 'DISCOUNT') 
    Charge is discount amount (Id = 'DISCOUNT') 
  -->
  <xs:attributeGroup name="attlist.CashDiscount">
    <xs:attribute name="Days" use="required" type="xs:integer"/>
  </xs:attributeGroup>
  <!--
    Payment date is always 
    - not relative to any discount 
    - relative to invoice date
    Days indicate the number of workdays minus one until payment date
  -->
  <xs:element name="PaymentTerm">
    <xs:complexType>
      <xs:attributeGroup ref="attlist.PaymentTerm"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.PaymentTerm">
    <xs:attribute name="TermShname" use="required" type="xs:string"/>
  </xs:attributeGroup>
  <xs:element name="DiscountTotals">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Charge"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="DiscountValue"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
<!--
  Charge* are monetary amount
  Charge Ids are
  56  - Original Amount
  55  - Discounted Amount
  DiscountValue* describe non-monetary totals
  One element Discount Value is provided per unit of meassurement  
-->
